In [ ]:
shares= 150
price= 3 + 5.0/8.0
value= shares * price
print("value",value)

value 543.75

In [ ]:
portfolio = 0
portfolio += 150 * 2 + 1/4.0 #this is a shothand that adds the value on the left side to the value of portfolio
portfolio += 75 * 1 + 7/8.0
print("portfolio", portfolio)

portfolio 376.125

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
first_number = 4
second_number = 6
summation = first_number + second_number

In [ ]:
x='hello'
y=(input('your name '))
z=(input('your age '))
print(x,y,z)

your name ali
your age 10
hello ali 10

In [ ]:
# now starting with conditional logics
#logical operators are either true or false or 0 or 1
# logical operators are of different types
#1 equal to ==
#2 less than equal to <=
#greter than equal to >=
#less than <
#greater than >
#not equal to !=

In [ ]:
print(4==4)

True

In [ ]:
print(4!=4)

False

In [ ]:
print(4>3)

True

In [ ]:
print(3<4)

True

In [ ]:
print(3<=5)

True

In [ ]:
print(5<=3)

False

In [ ]:
#  application of logical operator
abdullah_age=10
school_age_limit=5
print(abdullah_age==school_age_limit)

False

In [ ]:
# moving to type conversion or type casting
x=2
y="asad"
z=3.0
print(type(z))
print(type(x))
print(type(y))
c=x*z
print(type(c))

<class 'float'>
<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
x=(input('enter first number '))
print(type(x))
print(x,type(int(x)))

enter first number 10
<class 'str'>
10 <class 'int'>

In [ ]:
x=(input('enter first number '))
print(type(x))
print(x,type(int(x))) #if given a float number error will be shown

enter first number 10.5
<class 'str'>

ValueError: invalid literal for int() with base 10: '10.5'

In [4]:
#if else
abdullah_age=4
school_age_limit=5
if abdullah_age==school_age_limit:
    print("abdullah can join the school")
else :
    print("abdullah cannot join school")

abdullah cannot join school

In [5]:
#if else elif
abdullah_age=10
school_age_limit=5
if abdullah_age==school_age_limit:
    print("abdullah can join the school")
elif abdullah_age>school_age_limit:
    print("abdullah should join higher secondary school")
else :
    print("abdullah cannot join school")

abdullah should join higher secondary school

In [6]:
#functions
def print_abdullah(): #function definition
    print("we are learning with abdullah")
    print("we are learning with abdullah")
    print("we are learning with abdullah")
print_abdullah() #fuction call

we are learning with abdullah
we are learning with abdullah
we are learning with abdullah

In [9]:
text="i love python"
def print_text(text):
    print(text)
    print(text)
    print(text)
print_text(text)

i love python
i love python
i love python

In [14]:
#defining function with if else elif conditional statements
def school_calculator(age):
    if age==5:
        print("abdullah can join the school")
    elif age>5:
        print("abdullah should join higher secondary school")
    else :
        print("abdullah cannot join school")
age=int(input("enter abdullah age = "))
school_calculator(age)

enter abdullah age = 10
abdullah should join higher secondary school

In [17]:
#functions with parameters
def future_age(age):
    new_age=age+20
    return new_age
    print(new_age)
future_predicted_age=future_age(18)
print(future_predicted_age)
future_predicted_age=future_age(20)
print(future_predicted_age)

38
40

In [18]:
#loops
#while loops

x=0
while (x<=5):
    print(x)
    x=x+1

0
1
2
3
4
5

In [19]:
#for  loops
for x in range(5,10):
    print(x)

5
6
7
8
9

In [20]:
for x in range (10):
  print ('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [24]:
days=["mon","tue","wed","thu","fri","sat","sun"] #array declaration
for i in days:
    print(i)

mon
tue
wed
thu
fri
sat
sun

In [25]:
days=["mon","tue","wed","thu","fri","sat","sun"] #array declaration
for i in days:
    if (i=="fri"):
      break
    print(i)

mon
tue
wed
thu

In [26]:
days=["mon","tue","wed","thu","fri","sat","sun"] #array declaration
for i in days:
    if (i=="fri"):
      continue
    print(i)

mon
tue
wed
thu
sat
sun