In [1]:
# lists and tupples
#list is a container to store values of any data type
list =["apple ","orange","love",75,88,False]
for i in list:
  print(i)

apple
orange
love
75
88

In [7]:
list =["apple ","orange","love",75,88,False]
list[0]
list[1]
list[2]

'love'

In [8]:
#as we know that we can do changes in strings but we can do it in list
list[0]="banana"
list

['banana', 'orange', 'love', 75, 88, False]

In [10]:
#proof of we cannot do any changes in string
a="Abdullah"
a[0]
a[0]="B"

TypeError: 'str' object does not support item assignment

In [11]:
#UNLIKE STRINGS LISTS ARE MUTABLE
print(list[1:4])

['orange', 'love', 75]

In [14]:
#methods of lists
list
list.append("abdullah")
list

['banana', 'orange', 'love', 75, 88, False, 'abdullah', 'abdullah']

In [27]:
l1=[3,1,7,2,5]
l1.sort()
print(l1)
l1.reverse()
print(l1)
l1.insert(3,333)
print(l1)
l1.pop(1)
print(l1)
l1.remove(1)
print(l1)

[1, 2, 3, 5, 7]
[7, 5, 3, 2, 1]
[7, 5, 3, 333, 2, 1]
[7, 3, 333, 2, 1]
[7, 3, 333, 2]

In [33]:
#TUPPLES
#Tupples are data types that are immutable and heterogenous collection of elements
a=() # empty tupple
b=(1,) # tupple containing one element
print(b)
c=(1,2)
print(c)

(1,)
(1, 2)

In [34]:
tupple=(1,"abdullah",3.0)
for i in tupple:
  print(i)

1
abdullah
3.0

In [37]:
#methods of tupples
i=tupple.count(1) #means no of times 1 occur in tupple
print(i)
l=tupple.index("abdullah")
print(l)

1
1

In [40]:
print(tupple[0])
tupple[1]

1

'abdullah'

In [42]:
#dictionaries and sets
# a dictionary is a collection of key value pair
a={'physics': 100,
   'chem':200,
   'list':[1,2,3,4]
   }
print(a)

{'physics': 100, 'chem': 200, 'list': [1, 2, 3, 4]}

In [46]:
zee=a["chem"]
print(zee)
a['list']

200

[1, 2, 3, 4]

In [49]:
#methods of dictionaries
print(a.keys())
print(a.values())
print(a.items())
print(a.get("physics"))
print(a.update({"maths":300}))
print(a)

dict_keys(['physics', 'chem', 'list', 'maths'])
dict_values([100, 200, [1, 2, 3, 4], 300])
dict_items([('physics', 100), ('chem', 200), ('list', [1, 2, 3, 4]), ('maths', 300)])
100
None
{'physics': 100, 'chem': 200, 'list': [1, 2, 3, 4], 'maths': 300}

In [63]:
#sets in python
#collection of unoredered non repititive elements
s={1,2,3,4,5,6}
print(s)

{1, 2, 3, 4, 5, 6}

In [64]:
#sets are immutable
#sets are unindexed
for i in s:
  print(i)

1
2
3
4
5
6

In [66]:
#methods on set
print(s)
x=len(s)
print(x)
##y=s.add(7)
##print(s)
##z=s.remove(7)
##print(s)
s.clear

{1, 2, 3, 4, 5, 6}
6

In [71]:
f={1,2,3,4,5,6,7,8,9}
f.union({8,11,12,13})
f.intersection({8,11,12,13})

{8}