In [ ]:
print('hello world')

hello world

In [ ]:
x=1+2*3
print(x)

7

In [ ]:
print(2+3)

5

In [ ]:
print('operators in python')

operators in python

In [ ]:
print(3+2)
print(3-2)

5
1

In [ ]:
print(12/3) # if you want the answer in float

4.0

In [ ]:
print(12//3) # if you want the answer in integer

In [ ]:
print(12 % 3) # remainder operator

0

In [1]:
print(13%2)

1

In [ ]:
print(2**3) # exponent

8

In [ ]:
# In python the rule of PEMDAS is applied(PARANTHESIS EXPONENT MULTIPLICATION DIVISON ADDITION SUBTRACTION)

In [3]:
#STRINGS
print('hello')
print("hello")
print("hello's world")
print('''
I AM ABDULLAH
I AM LEARNING
PYTHON
''')

hello
hello
hello's world

I AM ABDULLAH
I AM LEARNING
PYTHON

In [4]:
#VARIABLES
#WHAT ARE VARIABLES?
#VARIABLES ARE JUST LIKE OBJECTS CONTAINING VALUES ITS JUST LIKE A SPACE HOLDER
x=5 #numeric variable
print(x)
y='abdullah ahmad'#string variable
print(y)
x=x+20
print(x)

5
abdullah ahmad
25

In [5]:
#now we are going to see types of variables or class of variable
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [6]:
#rules for variables 1 no spaces in variables 2 will start with letters or underscores
#3 will never start with numbers 4 donot use keywords in variables name
#5 short and descreptive # Case sensitivity

In [8]:
#updation
x='abdullah'
x=5
print(type(x))
print(x)

<class 'int'>
5

In [9]:
#input
x=input('enter your name')
print(x)

enter your nameabdullah
abdullah

In [10]:
x=input('enter your name')
print('hello',x)

enter your nameasad
hello asad